	#mainPage {
		padding-top: 5%;
		background-color: #3A014A;
	}
	#twitchLogo {
		height: 100px;
		width: 150px;
		display: block;
		margin: 2% auto;
		padding: 2%
	}
	#displayTable {
		margin: 1% 10%;
	}
	#btnBar {
		text-align: center;
	}
	#allUsersBtn {
		color: #371778;
		font-family: "Roboto Mono";
		border-radius: 5px;
		border: 1px solid black;
		padding: 2%;
		margin: 0 2%;
	}
	#onlineUsersBtn {
		color: #371778;
		font-family: "Roboto Mono";
		border-radius: 5px;
		border: 1px solid black;
		padding: 2%;
		margin: 0 2%;
	}
	#offlineUsersBtn {
		color: #371778;
		font-family: "Roboto Mono";
		border-radius: 5px;
		border: 1px solid black;
		padding: 2%;
		margin: 0 2%;
	}
	div a {
		background-color: #E6FB02;
	}
	a:link {
		background-color: #E6FB02;
	}
	a:visited {
		background-color: #E6FB02;
	}
	a:hover {
		background-color: #B4C500;
	}
	a:active {
		background-color: #8E9B00;
	}
	#userInfo {
		margin: 2%;
		padding: 2%;
		border: 1px solid #ccc;
		border-radius: 20px;
		color: #371778;
		font-family: "Roboto Mono";
		background: #A890D8;
	}
	.userStyle {
		text-align: center;
		margin: 2%;
		color: #371778;
		background-color: #EFFC63 !important;
	}
	.logoImage {
		height: 40px;
		border-radius: 2;
		display: inline-block;
	}
